<style>
    legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}
fieldset{
    margin: 5px;
    width: 250px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    /* margin: .4rem; */
    width: 50px
}
td {
    text-align: center
}
.section{
    padding: 0px 5px 5px 5px;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

textarea {
    resize: none;
    overflow: hidden;
    font-weight:bold;
    text-align: left;
}
</style>
<script src="/js/onload.js"></script>
<script src="/js/changeRace.js"></script>
<div class="master">
    <div class="section">
        <h1>Clasher</h1>

        <form action="/clasher/" method="POST">
            <fieldset>
                <legend>Friendly Unit stats</legend>

                <table id="friend" border="1" cellpadding="3%">
                    <tr>
                        {{range $index, $element := .UnitData.RawStats}}
                        {{if not ($element.IsEnemy $index)}}
                        <th>{{.Name}}</th>
                        {{end}}
                        {{end}}
                    </tr>
                    <tr>
                        {{range $index, $element := .UnitData.RawStats}}
                        {{if not ($element.IsEnemy $index)}}
                        <td><input name="{{$index}}" onfocus="this.value=''" value="{{.Value}}"></td>
                        {{end}}
                        {{end}}
                    </tr>
                </table>
                <p></p>

                <label>Unit Height</label>
                <select name="FHeightSelect">
                    <!-- $. is used to reach global scop inside range block -->
                    {{range $index, $element := .UnitData.Height}}
                    <option value="{{$index}}" {{if eq ($index) ($.UnitData.SecondaryStats.FHeightSelect.Value) }} selected
                        {{end}}>{{$element}}</option>
                    {{end}}
                </select>
                <label>Unit Type</label>
                <select name="FTypeSelect">
                    {{range $index, $element := .UnitData.Type}}
                    <option value="{{$index}}" {{if eq ($index) ( $.UnitData.SecondaryStats.FTypeSelect.Value) }} selected
                        {{end}}>{{$element}}</option>
                    {{end}}
                </select>
                <label>Base width</label>
                <select name="FWidthSelect">
                    {{range $index, $element := .UnitData.Width}}
                    <option value="{{$index}}" {{if eq ($index) (($.UnitData.SecondaryStats.FWidthSelect.Value)) }} selected
                        {{end}}>{{$element}}mm</option> {{end}}
                </select>
                <label>Weapon</label>
                <select name="FWeaponSelect">
                    {{range $index, $element := .UnitData.Weapon}}
                    <option value="{{$index}}" {{if eq ($index) (($.UnitData.SecondaryStats.FWeaponSelect.Value)) }} selected
                        {{end}}>{{$element}}</option> {{end}}
                </select>
            </fieldset>

            <fieldset>
                <legend>TODO: Specialties !!!WIP!!!</legend>
                    <label>Race</label>
                    <select name="FRace" onchange="changeRace()">
                        {{range $index, $element := .UnitData.Races}}
                        <option value="{{$index}}">{{$element}}</option>
                        {{end}}
                    </select>
                    <label>Specialties</label>
                    {{range $index, $element := .UnitData.SpecialtiesStats}}
                    <div class="FSpecialties {{$element}}" style="display: none">
                        <input type="checkbox" id="{{$index}}" name="{{$index}}">
                        <label for="{{$index}}">{{$index}}</label>
                    </div>
                    {{end}}
            </fieldset>

            <fieldset>
                <legend>Enemy Unit stats</legend>

                <table id="enemy" border="1" cellpadding="3%">
                    <tr>
                        {{range $index, $element := .UnitData.RawStats}}
                        {{if ($element.IsEnemy $index)}}
                        <th>{{.Name}}</th>
                        {{end}}
                        {{end}}
                    </tr>
                    <tr>
                        {{range $index, $element := .UnitData.RawStats}}
                        {{if ($element.IsEnemy $index)}}
                        <td><input name="{{$index}}" onfocus="this.value=''" value="{{.Value}}"></td>
                        {{end}}
                        {{end}}
                    </tr>
                </table>
                <p></p>

                <label>Unit Height</label>
                <select name="EHeightSelect">
                    {{range $index, $element := .UnitData.Height}}
                    <option value="{{$index}}" {{if eq ($index) ($.UnitData.SecondaryStats.EHeightSelect.Value) }} selected
                        {{end}}>{{$element}}</option>
                    {{end}}
                </select>
                <label>Unit Type</label>
                <select name="ETypeSelect">
                    {{range $index, $element := .UnitData.Type}}
                    <option value="{{$index}}" {{if eq ($index) ($.UnitData.SecondaryStats.ETypeSelect.Value) }} selected
                        {{end}}>{{$element}}</option>
                    {{end}}
                </select>
                <label>Base width</label>
                <select name="EWidthSelect">
                    {{range $index, $element := .UnitData.Width}}
                    <option value="{{$index}}" {{if eq ($index) ($.UnitData.SecondaryStats.EWidthSelect.Value) }} selected
                        {{end}}>{{$element}}mm</option>
                    {{end}}
                </select>
                <label>Weapon</label>
                <select name="EWeaponSelect">
                    {{range $index, $element := .UnitData.Weapon}}
                    <option value="{{$index}}" {{if eq ($index) (($.UnitData.SecondaryStats.EWeaponSelect.Value)) }} selected
                        {{end}}>{{$element}}</option> {{end}}
                </select>
            </fieldset>

            <fieldset>
                <legend>TODO: Specialties !!!WIP!!!</legend>
                    <label>Race</label>
                    <select name="ERace" onchange="changeRace()">
                        {{range $index, $element := .UnitData.Races}}
                        <option value="{{$index}}">{{$element}}</option>
                        {{end}}
                    </select>
                    <label>Specialties</label>
                    {{range $index, $element := .UnitData.SpecialtiesStats}}
                    <div class="ESpecialties {{$element}}" style="display: none">
                        <input type="checkbox" id="{{$index}}" name="{{$index}}">
                        <label for="{{$index}}">{{$index}}</label>
                    </div>
                    {{end}}
            </fieldset>
            <input style="width: auto" type="submit" value="Roll the Dice">
        </form>
    </div>


    <div class="section">
        <h1> Results</h1>
        <fieldset>
            <legend>Results</legend>
            <table name="results" border="1" cellpadding="3%">
                <tr>
                    <th>Who wins?</th>
                    <th>Won by</th>
                    <th>Break Chance</th>
                    <th>Friend Remaining</th>
                    <th>Enemy Remaining</th>    
                </tr>
                <tr>
                    <th><textarea readonly rows="1" cols="6">{{if .FightResults.WINNER}}Friendly{{else}}Enemy{{end}}</textarea></th>
                    <th><textarea readonly rows="1" cols="6">{{.FightResults.AMMOUNT}}</textarea></th>
                    <th><textarea readonly rows="1" cols="6">{{.FightResults.BreakChance}}%</textarea></th>
                    <th><textarea readonly rows="1" cols="6">{{.FightResults.FNUM}}</textarea></th>
                    <th><textarea readonly rows="1" cols="6">{{.FightResults.ENUM}}</textarea></th>
                </tr>
            </table>
        </fieldset>

    </div>

</div>