<style>
    legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}
fieldset{
    margin: 5px;
    width: 250px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
.section{
    padding: 0px 5px 5px 5px;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}
.master{
    width: 300px;
}

textarea {
    resize: none;
    overflow: hidden;
    font-weight:bold;
    text-align: left;
}
</style>
<div class="master">


    <div class="section">
        <h1>Voltage Drop Calculator </h1>

        <form action="/vdrop/" method="POST">
            <fieldset>
                <legend>Enter Input Voltage (V)</legend>
                <input name="voltage_input" onfocus="this.value=''" autofocus="autofocus" value="{{.Voltage_input}}">
            </fieldset>

            <fieldset>
                <legend>Enter Desired current (A)</legend>
                <input name="current" onfocus="this.value=''" autofocus="autofocus" value="{{.Current}}">
            </fieldset>

            <fieldset>
                <legend>Enter Length of Cable (m)</legend>
                <input name="length" onfocus="this.value=''" autofocus="autofocus" value="{{.Length}}">
            </fieldset>

            <fieldset>
                <legend>Enter Cable Cross Section (mm^2)</legend>
                <input name="area" onfocus="this.value=''" autofocus="autofocus" value="{{.Area}}">
            </fieldset>



            <!-- onfocus="this.value=''" autofocus="autofocus" -->


            <!-- execute button here  -->
            <input type="submit" value="Calculate">

        </form>

        <div class="section">
            <h1> Results</h1>
            <fieldset>
                <legend>Voltage Drop</legend>
                <textarea readonly rows="1" cols="10">{{.Vdrop}}</textarea>
            </fieldset>

            <fieldset>
                <legend>Output Voltage</legend>
                <textarea readonly rows="1" cols="10">{{.Vout}}</textarea>
            </fieldset>

        </div>

    </div>